.dialogues {
    display: grid;
    grid-template-columns: 3fr 5fr 5fr;
}

.dialoguesItems {
    padding: 10px;
}

.dialoguesItems a {
    text-decoration: none;
    color: black;
}

.dialoguesItems a:hover {
    color: saddlebrown;
}

.dialoguesItems a:focus {
    color: brown;
}

.messages {
    padding: 10px;
}

.answers {
    padding: 10px;
}

.dialogue img {
    height: 36px;
    width: 36px;
    margin-right: 5px;
    border-radius: 18px;
}