.dialogues {
    display: grid;
    grid-template-columns: 3fr 5fr 5fr;
    grid-gap: 10px;
    grid-template-areas: 'd f a'
  'n n n';
}

.newMessage {
    margin: 0 auto;
    grid-area: n;
}

.newMessage button {
    margin: 10px;
    background-color: hotpink;

}.newMessage textarea {
    resize: none;
}