.dialogues {
    display: grid;
    grid-template-columns: 3fr 10fr;
    grid-gap: 10px;
    grid-template-areas: 'd f'
  'n n';
    margin: 10px;
}

.newMessage {
    margin: 0 auto;
    grid-area: n;
}

.newMessage button {
    margin: 10px;
    background-color: hotpink;
}

.newMessage textarea {
    resize: none;
}