.obj {
    margin: 20px;
    display: inline-block;
}

.avatar {
    width: 140px;
    height: 140px;
    border-radius: 70px;
}

button {
    background-color: pink;
    border-radius: 5px;
}

button:hover {
    background-color: hotpink;
}

.numbersWrapper {
    margin-top: 15px;
    margin-left: 15px;
}

.pageNumber {
    padding: 5px;
    font-size: 17px;
}

.pageNumber:hover {
    color: saddlebrown;
}

.selectedPage {
    font-weight: bold;
    color: brown;
    font-size: 19px;
}