.postsWrapper {
    display: block;
    margin: 10px;

}

.addPostsWrapper {
    margin-bottom: 15px;
}

.addPostButton {
    margin-left: 10px;
    background-color: antiquewhite;
    border-radius: 7px;
}

.addPostsWrapper textarea {
    border: black 2px solid;
    resize: none;
}