.PostsWrapper {
    display: block;
    background-color: lightgoldenrodyellow;
}

.addPostsWrapper {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.addPostButton {
    background-color: pink;
    border-radius: 7px;
    height: 28px;
}

.postsElements {
    margin-top: 35px;
    margin-left: 15px;
    margin-right: 15px;
}

.postsHeader h4{
    margin-top: 10px;
    padding-top: 10px;
    margin-left: 15px;
}

.addPostButton:hover {
    background-color: hotpink;
}

.addPostsWrapper textarea {
    border: black 1px solid;
    resize: none;
    border-radius: 10px;
}
