.postsWrapper {
    display: block;
    margin: 0px;
    background-color: lightgoldenrodyellow;
}

.addPostsWrapper {
    margin-bottom: 15px;
}

.addPostButton {
    margin-left: 10px;
    background-color: pink;
    border-radius: 7px;
}

.addPostButton:hover {
    background-color: hotpink;
}

.addPostsWrapper textarea {
    border: black 1px solid;
    resize: none;
    border-radius: 10px;
}

