.spanControl {
    margin-bottom: 10px;
}

.spanControl span {
    color: red;
    font-size: smaller;
}

.formControl.error textarea {
    border: 2px solid red;
}

.formControl.error input {
    border: 2px solid red;
}
