.description {
    color: dimgray;
    margin-bottom: 5px;
}

.filesButton {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    background-color: pink;
}

.submitButton {
    margin-top: 7px;
    background-color: pink;
    border-radius: 5px;
}

.submitButton:hover {
    background-color: hotpink;
}