.header {
    background-color: khaki;
    grid-area: h;
  }

.header img {
    display: inline-block;
    margin-top: 0px;
    margin-left: 30px;
    width: 69px;
    height: 69px;
}

.webName {
    display: inline-block;
    font-size: 20px;
}

.loginBlock {
    float: right;
    margin-top: 5px;
    margin-right: 15px;
}