.nav {
    background-color:khaki;
    grid-area: n;
    padding-left: 15px;
    padding-top: 20px;
    height: 305px;
}

.nav a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding-top: 5px;
    margin-left: 15px;
}

.nav a.activeLink {
    color: brown;
}

.nav a:hover {
    color:saddlebrown;
}