.avatarAndDescription {
    display: inline-block;
    width: 100%;
}

.backgroundImg img {
    height: 150px;
    width: 100%;
}

.avatarAndDescription img {
    float: left;
    height: 180px;
}

.avatarAndDescription div {
    margin-top: 20px;
    margin-left: 200px;
}