.postBlock {
    display: block;
    margin-bottom: 20px;
    background-color: #f8f8c8;
    padding: 10px;
    border-radius: 15px;
}

.postMessage {
    color: chocolate;
}

.userAva {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid black;
}

.likeButton {
    margin-top: 7px;
    background-color: pink;
    border-radius: 5px;
}

.likeButton:hover {
    background-color: hotpink;
}

.likesSpan {
    margin-left: 10px;
}