.loginInput {
    height: 25px;
    border-radius: 7px;
}

.passwordInput {
    border-radius: 7px;
    height: 25px;
}

.loginButton {
    margin-left: 10px;
    margin-top: 10px;
    background-color: pink;
    border-radius: 7px;
}

.loginButton:hover {
    background-color: hotpink;
}

.errorMessage {
    color: red;
    padding-bottom: 10px;
    font-size: smaller;
}